<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un client souhaite être rappelé !</h1>
    <p>
      <%= @wcb.created_at %><br><br>

      <%= @wcb.cp %><br><br>
      <%= @wcb.modele %><br>
      <%= @wcb.panne %><br><br>
      <%= @wcb.email %><br>
      <a href="www.lasmartphonerie.com/webcallbacks/<%= @wcb.id %>" target="_blank">Numéro de teléphone</a>

      <%= @wcb.sms %><br>
      <br>
    </p>
  </body>
</html>