<p id="notice"><%= notice %></p>

<p>
  <strong>Amlundi:</strong>
  <%= @disponibilite.amlundi %>
</p>

<p>
  <strong>Pmlundi:</strong>
  <%= @disponibilite.pmlundi %>
</p>

<p>
  <strong>Slundi:</strong>
  <%= @disponibilite.slundi %>
</p>

<p>
  <strong>Ammardi:</strong>
  <%= @disponibilite.ammardi %>
</p>

<p>
  <strong>Pmmardi:</strong>
  <%= @disponibilite.pmmardi %>
</p>

<p>
  <strong>Smardi:</strong>
  <%= @disponibilite.smardi %>
</p>

<p>
  <strong>Ammercredi:</strong>
  <%= @disponibilite.ammercredi %>
</p>

<p>
  <strong>Pmmercredi:</strong>
  <%= @disponibilite.pmmercredi %>
</p>

<p>
  <strong>Smercredi:</strong>
  <%= @disponibilite.smercredi %>
</p>

<p>
  <strong>Amjeudi:</strong>
  <%= @disponibilite.amjeudi %>
</p>

<p>
  <strong>Pmjeudi:</strong>
  <%= @disponibilite.pmjeudi %>
</p>

<p>
  <strong>Sjeudi:</strong>
  <%= @disponibilite.sjeudi %>
</p>

<p>
  <strong>Amvendredi:</strong>
  <%= @disponibilite.amvendredi %>
</p>

<p>
  <strong>Pmvendredi:</strong>
  <%= @disponibilite.pmvendredi %>
</p>

<p>
  <strong>Svendredi:</strong>
  <%= @disponibilite.svendredi %>
</p>

<p>
  <strong>Amsamedi:</strong>
  <%= @disponibilite.amsamedi %>
</p>

<p>
  <strong>Pmsamedi:</strong>
  <%= @disponibilite.pmsamedi %>
</p>

<p>
  <strong>Ssamedi:</strong>
  <%= @disponibilite.ssamedi %>
</p>

<p>
  <strong>Amdimanche:</strong>
  <%= @disponibilite.amdimanche %>
</p>

<p>
  <strong>Pmdimanche:</strong>
  <%= @disponibilite.pmdimanche %>
</p>

<p>
  <strong>Sdimanche:</strong>
  <%= @disponibilite.sdimanche %>
</p>

<%= link_to 'Edit', edit_disponibilite_path(@disponibilite) %> |
<%= link_to 'Back', disponibilites_path %>
