<%= form_for(@couleur) do |f| %>
  <% if @couleur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@couleur.errors.count, "error") %> prohibited this couleur from being saved:</h2>

      <ul>
      <% @couleur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :couleur %><br>
    <%= f.text_field :couleur %>
  </div>
  <div class="field">
    <%= f.label :smartphone %><br>
    <%= f.number_field :smartphone %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
