<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6">
    <p>
  <strong>Prenom:</strong>
  <%= @order.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @order.nom %>
</p>

<p>
  <strong>Numtel:</strong>
  <%= @order.numtel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>
<div class="field">
    <%= f.label :statut %><br>
    <%= f.text_field :statut %>
  </div>
  <div class="field">
    <%= f.label :paye %><br>
    <%= f.check_box :paye %>
  </div>
  <div class="field">
    <%= f.label :reparateur %><br>
    <%= f.text_field :reparateur %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  <div class="col-md-6">
<p>
  <strong>Marque:</strong>
  <%= @order.marque %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @order.modele %>
</p>

<p>
  <strong>Panne:</strong>
  <%= @order.panne %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @order.couleur %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @order.prix %>
</p>

<p>
  <strong>Date reparation:</strong>
  <%= @order.date_reparation %>
</p>

<p>
  <strong>Heure reparation:</strong>
  <%= @order.heure_reparation %>
</p>

<p>
  <strong>Bureau:</strong>
  <%= @order.bureau %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= @order.entreprise %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @order.adresse %>
</p>

<p>
  <strong>Adresse2:</strong>
  <%= @order.adresse2 %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @order.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @order.ville %>
</p>

<p>
  <strong>Code reparation:</strong>
  <%= @order.code_reparation %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @order.statut %>
</p>

<p>
  <strong>Paye:</strong>
  <%= @order.paye %>
</p>

<p>
  <strong>Reparateur:</strong>
  <%= @order.reparateur %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= @order.commentaire %>
</p>

<p>
  <strong>Demande:</strong>
  <%= @order.demande_id %>
</p>
  </div>
</div>
  
<% end %>
