<div class="container"><br>
	<div class="col-md-2"></div>
	<div class="col-md-8  panel panel-default">
		<h1 class="text-center text-green">Récapitulatif de votre demande</h1>
		<h4  class="text-center">Bonjour <%= @order.prenom %> ! Voici votre devis pour votre <%= @order.modele %> </h4><br><br><br>
		
		<div class="col-md-5 text-center">
			<%= image_tag @smartphone.image.url(:medium) %>
		</div>
		<div class="col-md-7 text-center">
			<p>
				Marque : <%= @order.marque %><br>
				Modèle : <%= @order.modele %><br>
				Panne : <%= @order.panne %><br>
			</p>
			<p class="text-center"><br>
				Le tarif de la réparation de votre <%= @smartphone.modele %> est de : <br>
			<h3 class="text-center"><%= @order.prix.to_i %>€</h3>
			</p><br>
			<div class="text-center">
				<%= link_to "Réserver ma réparation", {:action => "new_creneau", :id => @order.id}, :class => "btn btn-success btn-lg"  %><br>
				(Réparation à domicile ou au bureau)
			</p>
			</div>
		</div>
		
		<div class="col-md-12"><br><br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Le déplacement de votre Smarty est offert <br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> L'intervention dure 20 minutes en moyenne <br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Nos réparations sont garanties 1 an (pièces et main d'œuvre) <br>
        	<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Vous ne payez qu'une fois votre smartphone réparé ! Sinon, vous ne payez rien. <br>
   		</div>
		
	    <div class="col-md-12">
	   		<br>
	   	</div>
        </div>
	</div>
	<div class="col-md-2"></div>
</div><br>







