<p id="notice"><%= notice %></p>

<p>
  <strong>Marque:</strong>
  <%= @order.marque %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @order.modele %>
</p>

<p>
  <strong>Panne:</strong>
  <%= @order.panne %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @order.couleur %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @order.prix %>
</p>

<p>
  <strong>Date reparation:</strong>
  <%= @order.date_reparation %>
</p>

<p>
  <strong>Heure reparation:</strong>
  <%= @order.heure_reparation %>
</p>

<p>
  <strong>Bureau:</strong>
  <%= @order.bureau %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= @order.entreprise %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @order.adresse %>
</p>

<p>
  <strong>Adresse2:</strong>
  <%= @order.adresse2 %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @order.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @order.ville %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @order.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @order.nom %>
</p>

<p>
  <strong>Numtel:</strong>
  <%= @order.numtel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Code reparation:</strong>
  <%= @order.code_reparation %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @order.statut %>
</p>

<p>
  <strong>Paye:</strong>
  <%= @order.paye %>
</p>

<p>
  <strong>Reparateur:</strong>
  <%= @order.reparateur %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= @order.commentaire %>
</p>

<p>
  <strong>Demande:</strong>
  <%= @order.demande_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
