<div id="animation" style="display:block; background-color:#3aaf85; height:140%; width:100%; " onclick="lancerBorne();">
	<div class="col-md-12 col-sm-12">
		<div style="padding-top:30px"><%= image_tag "logo-white.png", :class => "logo" %></div>
	</div><br>
	<div class=" col-md-6 col-sm-6 text-center" style="color:white; position:relative;">
			<%= image_tag("phone-casse.png", :id => "brokenphone", :style => "position:absolute; height:600px; width:541px;") %>
			<br><br><br>
			<%= image_tag("batterie-hs.png", :id => "batteriehs", :style => "position:absolute; padding:0px 0 0 0; height:492px; width:548px;") %>
			<br><br><br><br>
			<%= image_tag("slogan.png", :id => "slogan", :style => "position:absolute; padding:0px 0px 0 0; height:158px; width:500px;") %>
			<br><br><br><br><br><br><br><br><br><br><br>
			<%= image_tag("bt-touchez-ecran.png", :id => "bttouchscreen", :style => "position:absolute; padding:0px 0 0 0; height:180px; width:500px;") %>
		</div>			
</div>

<div id="maborne" style="display:none;">
<div class="" style="display:block; background-color:#3aaf85; height:90px;">
	<div class="container col-md-12 col-sm-12">
		<div class="col-md-6 col-sm-6">
			<div style="padding-top:30px"><%= image_tag "logo-white.png", :class => "logo" %></div>
		</div> 
		<div class=" col-md-6 col-sm-6 text-right">
			<p></p>
			<button onclick="web_call_back('webcallback')" class="btn btn-danger"><div class="col-md-12 col-sm-12"><div class="col-md-2 col-sm-2" style="padding:10px 10px 0 0;"><i class="fa fa-phone fa-3x"></i></div><div class="col-md-10 col-sm-10"><strong>Besoin d'aide ?</strong><br> Faites-vous rappeler <br>  gratuitement par un expert</div><div></button>
		</div>
	</div>
</div>
<div class="" style="display:none;" id="bt-cancel">
	<div class="container col-sm-12">
		<div class="col-sm-3">
			<div style="padding-top:10px"><button onclick="retour_accueil();" class="btn btn-default"> < Annuler</button></div>
		</div> 
		<div class=" col-sm-9">
		</div>
	</div>
</div>

	


<div class="container" style="width:800px; height:600px;">
	
	<div class="col-sm-12">
		<div id="marques" style="display:block;"><br><br>
			<h3 class="">Sélectionnez la marque de votre smartphone :</h3>
			<button onclick="apple_modeles();" class="btn btn-default col-sm-5" style="height:225px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 5px;"><%= image_tag "logo-apple-black.svg", size: "100" %><br><br><hr><strong>APPLE</strong></button>
			<button onclick="samsung_modeles();" class="btn btn-default col-sm-5" style="height:225px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 5px;"><%= image_tag "samsung_logo.svg", size: "115" %><hr><strong>SAMSUNG</strong></button>
			<button onclick="nokia_modeles();" class="btn btn-default col-sm-5" style="height:225px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 5px;"><%= image_tag "nokia_logo.svg", size: "115" %><hr><strong>NOKIA</strong></button>
			<button onclick="web_call_back('autre marque');" class="btn btn-default col-sm-5" style="height:225px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 5px;"><%= image_tag "autre.svg", size: "115" %><hr><strong>AUTRE</strong></button>
		</div>
	</div>

	<div class="col-sm-12">
		<div id="apple-modeles" style="display:none;">
			<h3>Sélectionnez votre modèle :</h3>
			<button onclick="click_pannes('iPhone 4');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone4.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 4</strong></button>
			<button onclick="click_pannes('iPhone 4S');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone4S.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 4S</strong></button>
			<button onclick="click_pannes('iPhone 5');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone5.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 5</strong></button>
			<button onclick="click_pannes('iPhone 5C');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone5C.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 5C</strong></button>
			<button onclick="click_pannes('iPhone 5S');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone5S.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 5S</strong></button>
			<button onclick="click_pannes('iPhone 6');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone6.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 6</strong></button>
			<button onclick="click_pannes('iPhone 6 Plus');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone6.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 6 Plus</strong></button>
			<button onclick="click_pannes('iPhone 6S');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone6.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 6S</strong></button>
			<button onclick="click_pannes('iPhone 6S Plus');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "iphone6.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>iPhone 6S Plus</strong></button>
		</div>
	</div>

	<div id="samsung-modeles" style="display:none;">
			<h3>Sélectionnez votre modèle :</h3>
			<button onclick="click_pannes('Galaxy S3');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys3.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S3</strong></button>
			<button onclick="click_pannes('Galaxy S4');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys4.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S4</strong></button>
			<button onclick="click_pannes('Galaxy S4 mini');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys4mini.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S4 Mini</strong></button>
			<button onclick="click_pannes('Galaxy S5');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys5.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S5</strong></button>
			<button onclick="click_pannes('Galaxy S5 Mini');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys5mini.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S5 Mini</strong></button>
			<button onclick="click_pannes('Galaxy S6');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys6.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S6</strong></button>
			<button onclick="click_pannes('Galaxy S6 Edge');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "galaxys6edge.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Galaxy S6 Edge</strong></button>
			<button onclick="click_pannes('Autre Samsung');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "autre.svg", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Autre</strong></button>
		</div>

		<div id="nokia-modeles" style="display:none;">
			<h3>Sélectionnez votre modèle :</h3>
			<button onclick="click_pannes('Lumia 520');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia520.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 520</strong></button>
			<button onclick="click_pannes('Lumia 550');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia550.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 550</strong></button>
			<button onclick="click_pannes('Lumia 640');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia640.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 640</strong></button>
			<button onclick="click_pannes('Lumia 650');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia650.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 650</strong></button>
			<button onclick="click_pannes('Lumia 820');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia820.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 820</strong></button>
			<button onclick="click_pannes('Lumia 925');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia925.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 925</strong></button>
			<button onclick="click_pannes('Lumia 950');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia950.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 950</strong></button>
			<button onclick="click_pannes('Lumia 1520');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "lumia1520.png", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Lumia 1520</strong></button>
			<button onclick="click_pannes('Autre Nokia');" class="btn btn-default col-sm-3" style="height:150px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "autre.svg", size: "100" %><hr style="margin:5px 0 5px 0;"><strong>Autre</strong></button>
		</div>

	<div class="col-sm-12">
		<div id="pannes" style="display:none;">
			<h3>Sélectionnez la panne de votre smartphone :</h3>
			<button onclick="choix_contact('Ecran cassé');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "Broken-Wall-256.png", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>mon écran est <br> cassé</h4></button>
			<button onclick="choix_contact('Batterie HS');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "Battery-Low-256.png", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>ma batterie est <br> HS</h4></button>
			<button onclick="choix_contact('Oxydation');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "water_dammage.svg", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>mon smartphone <br> a pris l'eau</h4></button>
			<button onclick="choix_contact('Bouton défectueux');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "Button-256.png", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>mon bouton est <br> défectueux</h4></button>
			<button onclick="choix_contact('Ne s allume plus');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "Power-256.png", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>mon smartphone <br> ne s'allume plus</h4></button>
			<button onclick="choix_contact('Autre');" class="btn btn-default col-sm-3" style="height:200px; margin:10px 10px 10px 10px; background-color:transparent; border-width: 3px;"><%= image_tag "autre-panne.svg", size: "100" %><hr style="margin:5px 0 5px 0;"><h4>Autre</h4></button>
		</div>
	</div>

<div>
	<div class="col-sm-12 text-center"  id="web-call-back" style="display:none;">
		<h3>Saisissez votre numéro de téléphone :</h3>
		<p><i>Un de nos experts vous contactera dans quelques minutes</i></p><br>
		<%= render :partial => "webcallbacks/form" %><br><br><br>

	</div>

	<div class="col-sm-12 text-center"  id="help-tel" style="display:none;">
		<h3>Saisissez votre numéro de téléphone :</h3>
		<p><i>Vous recevrez votre devis dans quelques minutes</i></p><br>
		<%= render :partial => "helps/form_borne_tel" %><br><br><br>

	</div>

	<div class="col-sm-12 text-center"  id="help-sms" style="display:none;">
		<h3>Saisissez votre numéro de téléphone :</h3>
		<p><i>Vous recevrez votre devis par SMS dans quelques instants</i></p><br>
		<%= render :partial => "helps/form_borne_tel" %><br><br><br>

	</div>

	<div class="col-sm-12 text-center"  id="help-mail" style="display:none;">
		<h3>Saisissez votre adresse email :</h3>
		<p><i>Vous recevrez votre devis par email dans quelques instants</i></p><br>
		<%= render :partial => "helps/form_borne_mail" %><br><br><br>

	</div>
	<div class="col-md-12" id="virtualKeyboard" style="display:none;"></div>
</div>

	<div class="col-sm-12 text-center"  id="choix-contact" style="display:none;">
		<h3>Comment souhaitez-vous obtenir votre devis ?</h3><br>
		
		<button  onclick="help_tel();" class="btn btn-success" style="background-color:#3aaf85; border:none; height:120px; width:300px; padding: 10px 10px 10px 10px;"><div class="col-md-2 col-sm-2" style="padding:10px 0 0 20px;"><i class="fa fa-phone fa-3x"></i></div><div class="col-md-9 col-sm-9"><h3>Par téléphone</h3></div></button><br><br>
		<button  onclick="help_mail();" class="btn btn-success"  style="background-color:#3aaf85; border:none; height:120px; width:300px; padding: 10px 10px 10px 10px;"><div class="col-md-2 col-sm-2" style="padding:10px 0 0 20px;"><i class="fa fa-laptop fa-3x"></i></div><div class="col-md-9 col-sm-9"><h3>Par email</h3></div></button><br><br>
		<button  onclick="help_sms();" class="btn btn-success"  style="background-color:#3aaf85; border:none; height:120px; width:300px; padding: 10px 10px 10px 10px;"><div class="col-md-2 col-sm-2" style="padding:10px 0 0 20px;"><i class="fa fa-envelope fa-3x"></i></div><div class="col-md-9 col-sm-9"><h3>Par SMS</h3></div></button><br><br>
	</div>
	
</div>
</div>




<script type="text/javascript">

mixpanel.track("page accueil borne");
myAnim();

function myAnim(){
var bttouch = document.getElementById('bttouchscreen')

TweenMax.from("#brokenphone", 0.5, {opacity:0, scale:5, delay:1});
TweenMax.to("#brokenphone", 0.5, {opacity:0, delay:5});

TweenMax.from("#batteriehs", 0.5, {opacity:0, scale:5, delay:6});
TweenMax.to("#batteriehs", 0.5, {opacity:0, delay:9});

TweenMax.from("#slogan", 0.5, {opacity:0, scale:5, delay:10});
TweenMax.from(bttouch, 1, {opacity:0, scale:2, ease:Bounce.easeOut, delay:10});

TweenMax.to("#brokenphone", 0, {opacity:1, delay:15});
TweenMax.to("#batteriehs", 0, {opacity:1, delay:15, onComplete:myAnim});

}



function lancerBorne(){
	document.getElementById('animation').style.display = 'none';
	document.getElementById('maborne').style.display = 'block';

	timer = setTimeout(reloadPage, 15000);
	mixpanel.track("CARREFOUR MONTESSON - clic sur borne");

	document.getElementById('help_cp').value = "BORNE CARREFOUR MONTESSON";
	document.getElementById('help__cp').value = "BORNE CARREFOUR MONTESSON";

	document.getElementById('help__mail').value = "";
	document.getElementById('help_tel').value = "";
	document.getElementById('mon_champ').value = "";
}

document.onclick = function() {
	clearTimeout(timer);
	myTimer();
}


function myTimer(){
	timer = setTimeout(reloadPage, 15000);
}

function reloadPage() {
	window.location.reload();
}

$('#mon_champ').blur(function () {
    var self = $(this);
    if (self.val() != "") {
        self.css('color','black'); // Set black fore color
    }
    else {
        self.css('color','gray'); // Restore code
    }
});


	function apple_modeles() {
		document.getElementById('marques').style.display = 'none';
		document.getElementById('apple-modeles').style.display = 'block';
		document.getElementById('bt-cancel').style.display = 'block';

		mixpanel.track("CARREFOUR MONTESSON - clic sur marque APPLE");
	}

	function lancer_clavier() {
		document.getElementById('virtualKeyboard').style.display = 'block';
		document.getElementById('wcb_submit').style.display = 'block';
		document.getElementById('helptel_submit').style.display = 'block';
		document.getElementById('helpmail_submit').style.display = 'block';
	}

	function web_call_back(info) {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'none';
		document.getElementById('choix-contact').style.display = 'none';
		document.getElementById('web-call-back').style.display = 'block';
		document.getElementById('bt-cancel').style.display = 'block';
		document.getElementById('help-tel').style.display = 'none';
		document.getElementById('help-mail').style.display = 'none';
		document.getElementById('help-sms').style.display = 'none';

		mixpanel.track("CARREFOUR MONTESSON - demande webcallback - "+info);
	}

	function samsung_modeles() {
		document.getElementById('marques').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'block';
		document.getElementById('bt-cancel').style.display = 'block';

		mixpanel.track("CARREFOUR MONTESSON - clic sur marque SAMSUNG");

	}

	function nokia_modeles() {
		document.getElementById('marques').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'block';
		document.getElementById('bt-cancel').style.display = 'block';

		mixpanel.track("CARREFOUR MONTESSON - clic sur marque NOKIA");

	}

	function click_pannes(modele) {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'block';
		document.getElementById('help_modele').value = modele;
		document.getElementById('help__modele').value = modele;

		mixpanel.track("CARREFOUR MONTESSON - modèle sélectionné : "+modele);

	}

	function choix_contact(panne) {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('choix-contact').style.display = 'block';
		document.getElementById('help_panne').value = panne;
		document.getElementById('help__panne').value = panne;

		mixpanel.track("CARREFOUR MONTESSON - panne sélectionnée : "+panne);
	}

	function retour_accueil() {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'block';
		document.getElementById('bt-cancel').style.display = 'none';
		document.getElementById('choix-contact').style.display = 'none';
		document.getElementById('web-call-back').style.display = 'none';
		document.getElementById('virtualKeyboard').style.display = 'none';
		document.getElementById('help-tel').style.display = 'none';
		document.getElementById('help-mail').style.display = 'none';
		document.getElementById('help-sms').style.display = 'none';
		document.getElementById('mon_champ').value = "";

		mixpanel.track("CARREFOUR MONTESSON - Clic Bouton Annuler");
	}

	function help_tel() {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'none';
		document.getElementById('bt-cancel').style.display = 'block';
		document.getElementById('choix-contact').style.display = 'none';
		document.getElementById('web-call-back').style.display = 'none';
		document.getElementById('help-tel').style.display = 'block';
		document.getElementById('help-mail').style.display = 'none';
		document.getElementById('wcb_submit').style.display = 'none';
		document.getElementById('helptel_submit').style.display = 'none';
		document.getElementById('virtualKeyboard').style.display = 'none';

		mixpanel.track("CARREFOUR MONTESSON - Choix devis TELEPHONE");
	}

	function help_mail() {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'none';
		document.getElementById('bt-cancel').style.display = 'block';
		document.getElementById('choix-contact').style.display = 'none';
		document.getElementById('web-call-back').style.display = 'none';
		document.getElementById('help-tel').style.display = 'none';
		document.getElementById('help-sms').style.display = 'none';
		document.getElementById('wcb_submit').style.display = 'none';
		document.getElementById('helptel_submit').style.display = 'none';
		document.getElementById('virtualKeyboard').style.display = 'none';
		document.getElementById('help-mail').style.display = 'block';

		mixpanel.track("CARREFOUR MONTESSON - Choix devis MAIL");
	}

	function help_sms() {

		document.getElementById('help_mail').value = "SMS";

		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'none';
		document.getElementById('bt-cancel').style.display = 'block';
		document.getElementById('choix-contact').style.display = 'none';
		document.getElementById('web-call-back').style.display = 'none';
		document.getElementById('help-tel').style.display = 'block';
		document.getElementById('help-mail').style.display = 'none';
		document.getElementById('help-sms').style.display = 'none';
		document.getElementById('wcb_submit').style.display = 'none';
		document.getElementById('helptel_submit').style.display = 'none';
		document.getElementById('virtualKeyboard').style.display = 'none';

		mixpanel.track("CARREFOUR MONTESSON - Choix devis SMS");
	}
</script>