<header class="header-bg-vert" id="header-ce">
  <div class="container intro-text">
    <h1 class ="intro-heading">Bienvenue sur l'espace Comité d'Entreprises</h1>
    <div class="container" style="background-color: rgba(0,0,0,0.5); padding: 20px 0px 20px 15px;">
                  <%= form_tag({:action => "prix"}, {remote: true, :id => "form_prix"}) do %>
                      <div class="col-md-4">
                        <%= collection_select("modele", "", Smartphone.all, :modele, :modele, {:include_blank => "Autre", prompt: "Sélectionnez votre modèle", :selected => @nom},{class: "form-control", :required => true, :onchange => "modele_select()"}) %>
                      </div>
                      <div class="col-md-4">
                        <%= collection_select("panne", "", Panne.all, :name, :name, {:include_blank => "Autre", prompt: "Sélectionnez votre panne"},{class: "form-control", :required => true, :onchange => "panne_select()"}) %>
                      </div>
                      <div class="col-md-4">
                        <%= submit_tag("RÉPARER MON SMARTPHONE", class: "btn btn-success btn-block", id: "bt_prix", onclick: "_gaq.push(['_trackEvent', 'Bouton_Home_Affichage_Prix', 'clicked'])") %>
                      </div>
                  <% end %>
                  <br>
                  <h4 class="monPrix text-center"></h4>
                  <h2 id="monPrix" class="text-center"></h2>
                  <div id="bt_reparer" class="text-center" style="display:none">
                    <button onclick="_gaq.push(['_trackEvent', 'Bouton-Reparer-Landing', 'clicked'])" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" id="bt_modal"><strong>RÉSERVER MA RÉPARATION !</strong></button>
                  </div>
                    <%= render :partial => "helps/form_ce" %>
                  </div>
  </div>
</header>

<!-- How-it-works Section -->
    <section id="how-it-works">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Comment ça marche ?</h2>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag("computer.svg", size: "200") %>
                    <h4 class="service-heading"><strong>Quelle est votre panne ?</strong></h4>
                    <p class="text-muted">Consultez le prix de votre réparation.</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("calendar.svg", size: "200") %>
                    <h4 class="service-heading"><strong>À jeudi prochain</strong></h4>
                    <p class="text-muted">Réservez votre réparation pour le jeudi suivant.</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("tea-cup.svg", size: "200") %>
                    <h4 class="service-heading"><strong>Prenez un café</strong></h4>
                    <p class="text-muted">Votre Smarty répare votre smartphone pendant que vous vous détendez autour d'un café.</p>
                </div>
            </div><br><br>
            <div class="col-lg-12 text-center">
            </div>
        </div>
    </section>