
<% @helpid = helpid
    @helpidstock = Help.find(@helpid).idstock
    @prenom = Help.find(@helpid).prenom
    @date = Help.find(@helpid).date
    @heure = Help.find(@helpid).heure
    @prix = Help.find(@helpid).prix.to_i
    @adresse = Help.find(@helpid).adresse
    @ville = Help.find(@helpid).ville
    @majparam = params[:maj].to_i
    @stock_id = @helpidstock
    @stock = Stock.find(@stock_id)
    @id_smartphone = Stock.find(@stock_id).id_smartphone
    @id_panne = Stock.find(@stock_id).id_panne
    @smartphone = Smartphone.find(@id_smartphone)
    @panne = Panne.find(@id_panne) %>

<div class="container"><br>
	<div class="col-md-2"></div>
	<div class="col-md-8  panel panel-default">
		<h1 class="text-center text-green">Récapitulatif de votre réparation</h1>
		<h4  class="text-center">Bonjour <%= @prenom %> ! Voici votre devis pour votre <%= @smartphone.modele %> </h4><br><br><br>
		
		<div class="col-md-5 text-center">
			<%= image_tag @smartphone.image.url(:medium) %>
		</div>
		<div class="col-md-7 text-center">
			<p>
				Modèle : <%= @smartphone.marque %><br>
				Marque : <%= @smartphone.modele %><br>
				Réparation : <%= @panne.name %><br><br>
				Prévue le <%= @date %> (<i><%= @heure %></i>) à : <br>
				<%= @adresse %> - <%= @ville %>
			</p>
			<p class="text-center"><br>
				Le tarif de la réparation de votre <%= @smartphone.modele %> est de : <br>
			<h3 class="text-center"><%= @prix %>€</h3>
			</p><br>
			<div class="text-center">
				<%= render :partial => "orders/form_devis" %>
				<br>
				<i>(Le paiement s'éffectue une fois la réparation réalisée)</i>
			</p>
			</div>
		</div>
		
		<div class="col-md-12"><br><br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Le déplacement de votre Smarty est offert <br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> L'intervention dure 20 minutes en moyenne <br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Nos réparations sont garanties 1 an (pièces et main d'œuvre) <br>
        	<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Vous ne payez qu'une fois votre smartphone réparé ! Sinon, vous ne payez rien. <br>
   		</div>
		
	    <div class="col-md-12">
	   		<br>
	   	</div>
        </div>
	</div>
	<div class="col-md-2"></div>
</div><br>



<script type="text/javascript">
	mixpanel.track("page_recapitulatif");
</script>



