<div class="container"><br>
	<div class="col-md-12  panel panel-default">
		<h1 class="text-center text-green">Quand vous voulez<br><%= image_tag("calendar-reservation.svg", size: "150") %></h1>
		<h4  class="text-center">Votre smartphone sera bientôt réparé ;) <br><br> Choisissez la date et le créneau horaire de votre réparation</h4><br>
		
    <div class="col-md-12">
    <% @mtoday = 20 %>
	<% @mtomorrow = 10 %>
	<% @mnight = 50 %>
	<% @date = DateTime.current.in_time_zone('Paris') %>
	<% @setdate = DateTime.current.in_time_zone('Paris').beginning_of_day() %>
	<% @time = @date.strftime("%H").to_i %>
	<div id="no-more-tables">
		<table class="table table-striped col-md-12 table-condensed cf">
		  <thead class="cf">
		    <tr>
		      <th></th>
		      <th>Aujourd'hui <br> <i><%= l(@date, format: '%d %b %Y') %></i></th>
		      <th>Demain <br> <i><%= l(@date.tomorrow, format: '%d %b %Y') %></i></th>
		      <th><%= l(@date +172800, format: '%A') %> <br> <i><%= l(@setdate +172800, format: '%d %b %Y') %></i></i></th>
		      <th><%= l(@date +259200, format: '%A') %> <br> <i><%= l(@setdate +259200, format: '%d %b %Y') %></i></th>
		      <th><%= l(@date +345600, format: '%A') %> <br> <i><%= l(@setdate +345600, format: '%d %b %Y') %></i></th>
		      <th><%= l(@date +432000, format: '%A') %> <br> <i><%= l(@setdate +432000, format: '%d %b %Y') %></i></th>
		      <th><%= l(@date +518400, format: '%A') %> <br> <i><%= l(@setdate +518400, format: '%d %b %Y') %></i></th>
		      <th><%= l(@date +604800, format: '%A') %> prochain <br> <i><%= l(@setdate +604800, format: '%d %b %Y') %></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row"><strong>Matin</strong><br><i>8h à 13h</i></th>
		      <td data-title="Aujourd'hui"><%= link_to "#{@stock.prix.to_i+@mtoday}€", {:action => "devis", :stock => @stock, :maj => @mtoday}, {:class => "btn btn-lg btn-green", :id => "prixdayam"} %></td>
		      <td data-title="Demain">

		      	<% @help = Help.new %>
				<%= form_for(@help) do |f| %>
					<%= f.hidden_field :typeform, :value => "site_yield" %>
					<%= f.hidden_field :prix, :value => @stock.prix+@mtomorrow %>
					<%= f.hidden_field :idstock, :value => @stock.id %>
					<%= f.hidden_field :date, :value => l(@date.tomorrow, format: '%d %b %Y') %>
					<%= f.hidden_field :heure, :value => "8h-13h" %>
					<%= f.hidden_field :modele, :value => Smartphone.find(@stock.id_smartphone).modele %>
					<%= f.hidden_field :panne, :value => Panne.find(@stock.id_panne).name %>
					<%= f.hidden_field :commentaire, :value => @stock.couleur %>
					
					<%= f.hidden_field :heure, :value => "8h-13h" %>
					<%= f.submit "#{@stock.prix.to_i+@mtomorrow}€", class: "btn btn-lg btn-green", id: "prix2m1am", :onclick => "mixpanel.track('choix-prix-demain');" %>
				<% end %>
				</td>
		      <td data-title="<%= l(@date +172800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +259200, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +345600, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +432000, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +518400, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +604800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		    </tr>
		    <tr>
		      <th scope="row"><strong>Après-midi</strong><br><i>13h à 19h</i></th>
		      <td data-title="Aujourd'hui"><%= link_to "#{@stock.prix.to_i+@mtoday}€", {:action => "devis", :stock => @stock, :maj => @mtoday}, {:class => "btn btn-lg btn-green", :id => "prixdaypm"} %></td>
		      <td data-title="Demain"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mtomorrow %>€</a></td>
		      <td data-title="<%= l(@date +172800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +259200, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +345600, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +432000, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +518400, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +604800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		    </tr>
		    <tr>
		      <th scope="row"><strong>Soir</strong><br><i>19h à 23h</i></th>
		      <td data-title="Aujourd'hui"><%= link_to "#{@stock.prix.to_i+@mtoday}€", {:action => "devis", :stock => @stock, :maj => @mtoday}, {:class => "btn btn-lg btn-green", :id => "prixdaynight"} %></td>
		      <td data-title="Demain"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mtomorrow %>€</a></td>
		      <td data-title="<%= l(@date +172800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +259200, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +345600, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +432000, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +518400, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		      <td data-title="<%= l(@date +604800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green-light"><%= @stock.prix.to_i %>€</a></td>
		    </tr>
		    <tr>
		      <th scope="row"><strong>Nuit</strong><br><i>23h à 8h</i></th>
		      <td data-title="Aujourd'hui"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="Demain"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +172800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +259200, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +345600, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +432000, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +518400, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		      <td data-title="<%= l(@date +604800, format: '%A %d %b') %>"><a href="#" class="btn btn-lg btn-green"><%= @stock.prix.to_i+@mnight %>€</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>
	   	</div>
        </div>
	</div>
</div><br>

  

<% if @time >= 5 %>
	<script type="text/javascript">
		document.getElementById('prixdayam').innerHTML = "indispo.";
		document.getElementById('prixdayam').className = "btn btn-sm btn-default disabled";
	</script>
<% end %>
<% if @time > 12 %>
	<script type="text/javascript">
		document.getElementById('prixdaypm').innerHTML = "indispo.";
		document.getElementById('prixdaypm').className = "btn btn-sm btn-default disabled";
	</script>
<% end %>
<% if @time > 18 %>
	<script type="text/javascript">
		document.getElementById('prixdaynight').innerHTML = "indispo.";
		document.getElementById('prixdaynight').className = "btn btn-sm btn-default disabled";
	</script>
<% end %>
<% if @time > 23 %>
	<script type="text/javascript">
		document.getElementById('prixdaynight').innerHTML = "indispo.";
		document.getElementById('prixdaynight').className = "btn btn-sm btn-default disabled";
	</script>
<% end %>