<div class="container">

	<div>
		<button class="btn btn-success btn-block" data-toggle="collapse" data-target="#modeles"><h1>MARQUE 1</h1></button>
		<% @a = 0 %>
	    <% @b = 0 %>
		<div id="modeles" class="collapse">	
			<% Smartphone.where(marque: 'apple').to_a.each do |smartphone| %>
			<% @a = @a+1 %>
			<button class="btn btn-success btn-block" data-toggle="collapse" data-target="#applecouleur<%= @a %>"><%= smartphone.modele %></button>
			<div id="applecouleur<%= @a %>" class="collapse">
				<% Couleur.where(smartphone: smartphone.id).to_a.each do |couleur| %>
				<% @b = @b+1 %>
				<button class="btn btn-success btn-block" data-toggle="collapse" data-target="#applepanne<%= @b %>"><%= couleur.couleur %></button>
				<div id="applepanne<%= @b %>" class="collapse">
					<% Stock.where(id_smartphone: smartphone.id ).to_a.each do |stock| %>
						<div>
							<%= link_to Panne.find(stock.id_panne).name, {:action => "devis", :stock => stock} %>
						</div>
					<% end %>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>

	<div>
		<h1>MARQUE 2</h1>
		<div>	
			<h2>MODELE</h2>
			<div>
				<h3>COULEUR</h3>
				<div>
					<h4>PANNE</h4>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h1>MARQUE 3</h1>
		<div>	
			<h2>MODELE</h2>
			<div>
				<h3>COULEUR</h3>
				<div>
					<h4>PANNE</h4>
				</div>
			</div>
		</div>
	</div>


</div>