<% @helpid = helpid
  @helpidstock = Help.find(@helpid).idstock
  @stock_id = @helpidstock  
  @stock = Stock.find(@stock_id)
  @id_smartphone = Stock.find(@stock_id).id_smartphone
  @id_panne = Stock.find(@stock_id).id_panne
  @smartphone = Smartphone.find(@id_smartphone)
  @panne = Panne.find(@id_panne) 
%>

<div class="container"><br>
	<div class="col-md-2"></div>
	<div class="col-md-8  panel panel-default">
		<h1 class="text-center text-green">Où vous voulez<br><%= image_tag("lieu-pin.svg", size: "150") %></h1>
		<h4  class="text-center">Où souhaitez vous que votre Smarty chouchoute votre <%= @modele %> ?</h4><br>
		
		
	    <div class="col-md-12">
<% @order = Order.new %>        
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :demande_id, :value => @helpid %>
    <%= f.hidden_field :typeform, :value => "site_yield" %>
    <%= f.hidden_field :prix, :value => Help.find(@helpid).prix.to_i %>
    <%= f.hidden_field :date, :value => Help.find(@helpid).date %>
    <%= f.hidden_field :heure_reparation, :value => Help.find(@helpid).heure %>
    <%= f.hidden_field :modele, :value => @smartphone.modele %>
    <%= f.hidden_field :panne, :value => @panne.name %>
    <%= f.hidden_field :marque, :value => @smartphone.marque %>
    <%= f.hidden_field :promocode, :value => "" %>
    <%= f.hidden_field :couleur, :value => @stock.couleur %>


    <div class="field col-md-6">
      <%= f.label "Prénom*" %><br>
      <%= f.text_field :prenom, :class => "form-control", :required => true %>
    </div>
    <div class="field col-md-6">
      <%= f.label "Nom*" %><br>
      <%= f.text_field :nom, :class => "form-control", :required => true %>
    </div>
    <div class="field col-md-12">
      <%= f.label "Adresse*" %><br>
      <%= f.text_field :adresse, :class => "form-control", placeholder: "Adresse", :required => true %>
    </div>
    <div class="field col-md-12">
      <%= f.label "Complément d'adresse"%><br>
      <%= f.text_field :adresse2, :class => "form-control", placeholder: "(Etage, Code d'accès, etc...)" %>
    </div>
    <div class="field col-md-4">
      <%= f.label "Code Postal*" %><br>
      <%= f.text_field :cp, :class => "form-control", :required => true %>
    </div>
    <div class="field col-md-8">
      <%= f.label "Ville*" %><br>
      <%= f.text_field :ville, :id => "address", :class => "typeahead form-control", :placeholder => "Ville", :required => true %>
    </div>
    <script>
      // instantiate the addressPicker suggestion engine
      var addressPicker = new AddressPicker({autocompleteService: {types: ['(cities)'], componentRestrictions: { country: 'FR' }}});

      // instantiate the typeahead UI
      $('#address').typeahead(null, {
        displayKey: 'description',
        source: addressPicker.ttAdapter()
      });

      $('#address').on('keyup keypress', function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) { 
          e.preventDefault();
          return false;
        }
      });

      $('#checkbox').on('click', function() {
          if($("#checkbox").is(":checked")){
              alert("message1");
          }else{
              alert("message1");
          }
        }
      });
    </script>

    <div class="col-md-12"><br><hr></div>

    <div class="field col-md-5">
      <%= f.label "Numéro de téléphone*" %><br>
      <%= f.text_field :numtel, :class => "form-control", :required => true %>
    </div>
    <div class="field col-md-7">
      <%= f.label "E-mail*" %><br>
      <%= f.text_field :email, :class => "form-control", :required => true %>
    </div>

    
    <div class="field col-md-12">
      <%= f.label "Nom de votre entreprise (si vous souhaitez une réparation au bureau)" %><br>
      <%= f.text_field :entreprise, :class => "form-control" %>
    </div>

    <div class="field col-md-12">
      <%= f.label "Souhaitez vous nous préciser quelque chose ?" %><br>
      <%= f.text_area :commentaire, :class => "form-control", :placeholder => "Vous pouvez nous préciser ici une heure exacte d'intervention ou un détail sur votre smartphone" %>
    </div>
    <div class="actions text-right col-md-12"><br>
      <%= f.submit "VALIDER", class: "btn btn-green" %>
    </div>
<% end %>
	   		<br>
	   	</div>
        </div>
	</div>
	<div class="col-md-2"></div>
</div><br>

<script type="text/javascript">
  mixpanel.track("page_infos_lieu_recap_first");
</script>
