<% @help = Help.new %>
<%= form_for(@help) do |f| %>
  <% if @help.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@help.errors.count, "error") %> prohibited this help from being saved:</h4>

      <ul>
      <% @help.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Laissez-nous revenir vers vous</h4>
          </div>
          <%= f.hidden_field :modele, :value => "", id: "help_modele" %>
          <%= f.hidden_field :panne, :value => "", id: "help_panne" %>
          <%= f.hidden_field :cp, :value => "", id: "help_cp" %>
          <%= f.hidden_field :adresse, :value => "", id: "help_adresse" %>
          <%= f.hidden_field :ville, :value => "", id: "help_ville" %>
          <%= f.hidden_field :date, :value => "", id: "help_date" %>
          <%= f.hidden_field :heure, :value => "", id: "help_heure" %>
          <div class="modal-body">
            <div class="form-group col-md-6">
              <%= f.label "Prénom" %><br>
              <%= f.text_field :prenom, :class => "form-control", :placeholder => "Prénom",:required => true %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :nom %><br>
              <%= f.text_field :nom, :class => "form-control", :placeholder => "Nom", :required => true %>
            </div>
            <div class="form-group col-md-7">
              <%= f.label "Email" %><br>
              <%= f.text_field :mail, :class => "form-control", :placeholder => "Adresse email", :required => true %>
            </div>
            <div class="form-group col-md-5">
              <%= f.label "Numéro de téléphone" %><br>
              <%= f.text_field :numtel, :class => "form-control", :placeholder => "Numéro de téléphone", :required => true %>
            </div>
            <div class="form-group col-md-12">
              <br>
              <%= f.submit "RÉSERVER", class: "btn btn-success btn-block", :onclick => "mixpanel.track('Click bouton réserver modele yorick');" %>
            </div>
            <div class="container"></div>
          <% end %>
                    </div>
        </div>
      </div>
    </div>
    