<% @help = Help.new %>
<%= form_for(@help) do |f| %>
  <% if @help.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@help.errors.count, "error") %> prohibited this help from being saved:</h4>

      <ul>
      <% @help.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


          <%= f.hidden_field :modele, :value => "", id: "help_modele" %>
          <%= f.hidden_field :panne, :value => "", id: "help_panne" %>
          <%= f.hidden_field :cp, :value => "", id: "help_cp" %>
          <%= f.hidden_field :adresse, :value => "", id: "help_adresse" %>
          <%= f.hidden_field :ville, :value => "", id: "help_ville" %>
          <%= f.hidden_field :date, :value => "", id: "help_date" %>
          <%= f.hidden_field :heure, :value => "", id: "help_heure" %>
          <%= f.hidden_field :mail, :value => "", id: "help_mail" %>
          <%= f.hidden_field :typeform, :value => "borne" %>
            
            <div class="col-md-2"></div>
            <div class="form-group col-md-8">
              <%= f.number_field :numtel, :class => "form-control text-center", :placeholder => "Tapez ici pour saisir votre numéro", :required => true, :onclick => "lancer_clavier()", :style => "height:50px; padding:10px 10px 10px 10px;", id: "help_tel" %>
              <br>
              <%= f.submit "VALIDER", class: "btn btn-danger btn-block", :id => "helptel_submit", :style => "display:none;" %>
              </div>
            <div class="col-md-2"></div>
          <% end %>   