<div class="container"><br>
	<div class="col-md-2"></div>
	<div class="col-md-8  panel panel-default">
		<h1 class="text-center text-green">Récapitulatif de votre réparation</h1>
		<h4  class="text-center">Bonjour <%= @prenom %> ! Voici votre devis pour votre <%= @smartphone.modele %> </h4><br><br><br>
		
		<div class="col-md-5 text-center">
			<%= image_tag @smartphone.image.url(:medium) %>
		</div>
		<div class="col-md-7 text-center">
			<p>
				Modèle : <%= @smartphone.marque %><br>
				Marque : <%= @smartphone.modele %><br>
				Réparation : <%= @panne %><br><br>
				Prévue le <%= @madate %> (<i><%= @heure %></i>) <br>
			</p>
			<p class="text-center"><br>
				Le tarif de la réparation de votre <%= @smartphone.modele %> est de : <br>
			<h3 class="text-center"><%= @prix.to_i %>€</h3>
			</p><br>
			<div class="text-center">
				<%= render :partial => "form_for_recap" %>
				<br>
				<i>(Le paiement s'éffectue une fois la réparation réalisée)</i>
			</p>
			</div>
		</div>
		
		<div class="col-md-12"><br><br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> L'intervention dure 20 minutes en moyenne <br>
			<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Nos réparations sont garanties 1 an (pièces et main d'œuvre) <br>
        	<i class="fa fa-check-square-o fa-stack fa-2x text-green"></i> Vous ne payez qu'une fois votre smartphone réparé ! Sinon, vous ne payez rien. <br>
   		</div>
		
	    <div class="col-md-12">
	   		<br>
	   	</div>
	   	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos clients sont fans !</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FBenjaminPradier%2Fposts%2F10154600272848797%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbueno.marie.5%2Fposts%2F10154070618108013%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fchristina.gilantunes%2Fposts%2F10207492437002058%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhend.bairam%2Fposts%2F10156629300015501%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fedouard.delga%2Fposts%2F10210253019104808%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-6 portfolio-item">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Falexandre.dossantos.779%2Fposts%2F10206713178964630%3A0&width=350" width="350" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
        </div>
	</div>
	<div class="col-md-2"></div>
</div><br>



<script type="text/javascript">
	mixpanel.track("page_recapitulatif_avant_formulaire");
</script>