<%= form_for(@reparation) do |f| %>
  <% if @reparation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reparation.errors.count, "error") %> prohibited this reparation from being saved:</h2>

      <ul>
      <% @reparation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	<% @panne.each do |panne| %>
      <label class="text-center col-md-3">
        <%= image_tag(panne.image.url, size: "150") %><br>
	  	  <%= check_box_tag "reparation[id_panne][]", panne.id %>
		    <%= f.label panne.name %><br>
      </label>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
