<!DOCTYPE html>
<html>
<head>
	<title><%= @title %>La Smartphonerie</title>
	<meta name="description" content="La Smartphonerie est le service sur mesure de réparation de smartphones ! Nous réparons votre smartphone où vous voulez, quand vous voulez et comme vous voulez ! Grâce à La Smartphonerie, réparer son smartphone devient simple et pratique !">
    <meta name="author" content="La Smartphonerie">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<meta property="og:title" content="Le service sur mesure de réparation de smartphones" />
	<meta property="og:site_name" content="La Smartphonerie"/>
	<meta property="og:url" content="http://www.lasmartphonerie.com" />
	<meta property="og:description" content="Nous réparons votre smartphone où vous voulez, quand vous voulez et comme vous voulez ! Grâce à La Smartphonerie, réparer son smartphone devient simple et pratique !"/>
	<meta property="og:image" content="http://www.lasmartphonerie.com/assets/avatar-smartphonerie.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="500" />
	<meta property="og:image:height" content="500" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@lasmartphonerie" />
	<meta name="twitter:title" content="La Smartphonerie - Le service sur mesure de réparation de smartphones" />
	<meta name="twitter:description" content="Nous réparons votre smartphone où vous voulez, quand vous voulez et comme vous voulez ! Grâce à La Smartphonerie, réparer son smartphone devient simple et pratique !" />
	<meta name="twitter:image" content="http://www.lasmartphonerie.com/assets/avatar-smartphonerie.jpg" />

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'agency', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
	<script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead-addresspicker.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	

	<%= csrf_meta_tags %>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script type="text/javascript">
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-67514968-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
</head>
<body style="font-family: 'Varela Round', sans-serif;">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
	  		var js, fjs = d.getElementsByTagName(s)[0];
	  		if (d.getElementById(id)) return;
	  		js = d.createElement(s); js.id = id;
	  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=514429735271483";
	  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<%= render'layouts/header' %>

	<div class="container">
		<% flash.each do |name, msg| %>
	      <% if msg.is_a?(String) %>
	        <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	        </div>
	      <% end %>
	    <% end %>
	</div>
	
	<%= yield %>
	<%= render'layouts/footer' %>
	
</body>
</html>
